.categories {
  display: grid;
  float: left;
  grid-row-gap: 5px;
  margin-top: 20px;
  width: 10rem;
}

.products {
  font-size: 20px;
  text-align: center;
}

.star {
  background-color: transparent;
  border: none;
  color: rgb(184, 183, 183);
  font-size: xx-large;
}

.on {
  color: rgb(228, 209, 39);
}
